name: PHPCS

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - 'renovate/**'

jobs:
  phpcs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:5c9e22be1031bfcf3c1a785f369feca14ea666799671b08bfeab9a47f2c250a0
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Composer
        run: composer install

      - name: PHPCS
        run: composer phpcs
